.promptHub-prompt-btn {
  margin: 0.625rem 0 !important;
  max-height: 40% !important;
  align-self: auto !important;
}

.promptHub-prompt-btn-container {
  min-width: auto !important;
}

.promptHub-prompt-btn:hover {
  background-image: rgba(255, 255, 255, 0.8) !important;
}

.promptHub-prompt-top-button {
  margin-bottom: 0 !important;
}

.promptHub-multiselect {
  background-color: #1f2937;
  border-style: solid;
  border-color: #374151;
  border-width: 1px !important;
  border-radius: 8px !important;
  background-image: none !important;
  padding-right: 0 !important;
  /* margin-right: 12px; */
}

.promptHub-section-btn-container {
  min-width: auto !important;
  display: flex;
  flex: 0 1 4% !important;
  /* align-items: center !important; */
  flex-direction: column !important;
}

.promptHub-prompt-title {
  line-height: 24px;
}

.promptHub-section {
  border-style: solid;
  border-color: #374151;
  border-width: 1px !important;
  border-radius: 8px !important;
  padding: 12px;
  margin-top: 1rem;
}

.promptHub-section textarea {
  background-color: #1f2937 !important;
  color: rgb(229, 231, 235) !important;
  resize: none !important;
}

.promptHub-prompt-right-btns {
  min-width: auto !important;
  display: flex;
  flex: 0 1 5rem !important;
  align-items: center;
  flex-direction: column !important;
}

.promptHub-prompt-right-btns button {
  max-width: 10rem !important;
}

.promptHub-resizable {
  resize: vertical !important;
  overflow: scroll;
}

.promptHub-inline-text {
  flex: 0 1 !important;
}

#promptHub-file-input {
  display: none;
}

.promptHub-hide-btn {
  display: none !important;
}
